@use '@/assets/styles/abstracts'as *;

.review-source-card {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: to-rem(13);
	padding: to-rem(40) to-rem(30) to-rem(42) to-rem(30);
	background-color: $card-bg-light;
	border-radius: to-rem(23);

	@media screen and (min-width: 1440px) {
		row-gap: to-rem(20);
	}

	@media screen and (min-width: 1440px) {
		padding-top: to-rem(50);
		padding-inline: to-rem(40);
	}

	&__head {
		display: grid;
		grid-template-columns: to-rem(50) 1fr;
		column-gap: to-rem(17);
		row-gap: to-rem(2);
	}

	&__logo {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
		display: grid;
		place-items: center;
		width: to-rem(50);
		height: to-rem(50);
		border-radius: to-rem(20);
	}

	&__icon {
		width: inherit;
		height: inherit;
	}

	&__link {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: to-rem(10);
		text-decoration: none;
		color: $btn-light-color;

		&-text {
			color: $btn-light-color;
			transition: 0.2s ease-in;
		}

		&-icon {
			width: to-rem(12);
			height: to-rem(12);
			transform: rotate(-45deg);
			transform-origin: center;
			transition: 0.2s ease-in;
			--ui-icon-stroke: currentColor;
		}

		@media screen and (min-width: 1440px) {
			&:hover {
				color: $primary-color;
				
				.review-source-card__link-text {
					color: $primary-color;
				}

				.review-source-card__link-icon path{
					stroke: $primary-color;
				}
			}
		}
	}

	&[data-type="ya-icon"] {
		.review-source-card__logo {
			background-color: $ya-bg;
			color: $secondary-color;
			background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.83 1.606H4.906C3.212 1.606 2.321 2.464 2.321 3.729C2.321 5.159 2.937 5.829 4.202 6.688L5.247 7.392L2.244 11.879H0L2.695 7.865C1.145 6.754 0.275 5.675 0.275 3.85C0.275 1.562 1.87 0 4.895 0H7.898V11.868H5.83V1.606Z' fill='white'/%3E%3C/svg%3E%0A");
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: to-rem(17) to-rem(25);
		}
	}

	&[data-type="2gis-icon"] {
		.review-source-card__logo {
			background-color: transparent;
			background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2247_92' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='50' height='50'%3E%3Cpath d='M37.585 49.9769C38.6898 49.9537 39.8023 49.8842 40.8915 49.6912C41.9963 49.4904 43.0315 49.1817 44.0358 48.6644C45.0325 48.1702 45.9363 47.5139 46.7167 46.7419C47.4969 45.9698 48.1612 45.0742 48.6558 44.0935C49.1656 43.0975 49.4902 42.0862 49.691 40.9898C49.8919 39.909 49.9538 38.8125 49.9769 37.7162C49.9923 37.2144 49.9923 36.7125 50 36.2106V13.7817C50 13.2798 50 12.778 49.9769 12.2761C49.9537 11.1875 49.8842 10.0834 49.691 9.00248C49.4902 7.90612 49.1656 6.88696 48.6558 5.89871C48.1535 4.92587 47.4969 4.03027 46.7167 3.25046C45.9363 2.47837 45.0248 1.82211 44.0358 1.32798C43.0237 0.826127 41.9963 0.501852 40.8915 0.301112C39.8023 0.108091 38.6898 0.0386042 37.585 0.0154416C37.3765 0.0154416 37.1677 0.00772081 36.8279 0H14.5627L12.4305 0.0231627C11.3257 0.0463252 10.2132 0.115812 9.12392 0.308834C8.01917 0.509573 6.98394 0.826127 5.9796 1.3357C4.983 1.82983 4.0791 2.4861 3.29883 3.25819C2.51854 4.03027 1.85414 4.92587 1.3597 5.90642C0.842089 6.90242 0.52534 7.91383 0.324475 9.01019C0.115884 10.0911 0.054079 11.1875 0.0231765 12.2838C0.00772558 12.7857 0.00772559 13.2875 0 13.7894V36.2183C0 36.7202 0.00772559 37.2221 0.0231767 37.724C0.0463535 38.8125 0.115884 39.9167 0.309023 40.9975C0.50989 42.094 0.834362 43.1131 1.34425 44.1012C1.84641 45.0742 2.50308 45.9698 3.28338 46.7496C4.06367 47.5217 4.97527 48.1779 5.96415 48.6721C6.97621 49.174 8.00371 49.4981 9.10846 49.699C10.1978 49.8919 11.3102 49.9615 12.415 49.9846C12.6236 49.9846 12.8322 49.9923 13.1721 50H34.2552L37.5696 49.9846C37.5696 49.9846 37.585 49.9769 37.585 49.9769Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2247_92)'%3E%3Cpath d='M0 0H50V50H0V0Z' fill='%2319AA1E'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0H50V16.4062L0 8.59375V0Z' fill='%23FFB919'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 44.5312L50 36.7188V50H0V44.5312Z' fill='%2382D714'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 7.60547L17.4529 10.3324C19.6255 8.95724 22.2102 8.20324 25 8.20324C28.864 8.20324 32.3346 9.6497 34.8617 12.1898C35.1806 12.5103 35.4815 12.8454 35.7633 13.1935L50 15.4179V17.3947L37.209 15.3962C38.1592 17.2198 38.6719 19.2516 38.6719 21.3251C38.6719 24.0039 38.0727 26.6747 36.8342 29.3564L36.7965 29.4376L36.2704 30.5647H35.0265C32.4579 30.5647 30.7542 31.333 29.6402 32.6947C28.7656 33.7639 28.2598 35.2051 28.0896 36.7776L28.0844 36.8268L28.0596 37.078L28.049 37.1874L28.0288 37.4011C27.9635 38.1032 27.92 38.6987 27.8979 39.1839L50 35.7305V37.7072L0 45.5197V43.543L22.1269 40.0855L22.1173 39.6418L22.1144 39.5166L22.1125 39.4524L22.109 39.3534C22.0892 38.8153 22.0398 38.1255 21.9608 37.2895L21.9456 37.1309L21.9185 36.8564C21.7598 35.2755 21.2615 33.8159 20.3892 32.7309C19.2869 31.3601 17.5988 30.5805 15.051 30.5649L14.9735 30.5647H13.7296L13.2036 29.4376C11.9395 26.7287 11.3281 24.0309 11.3281 21.3251C11.3281 17.9224 12.7086 14.632 15.1383 12.1898C15.2085 12.1193 15.2793 12.0496 15.3509 11.9808L0 9.58224V7.60547Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25 10.1562C31.9804 10.1562 36.7187 15.5291 36.7187 21.325C36.7187 23.6519 36.211 26.0731 35.0265 28.6115C28.1577 28.6115 26.4623 33.5306 26.1417 36.6256L26.1212 36.8319C26.0125 37.9365 25.9498 38.8227 25.9325 39.4908L24.0721 39.7817L24.0717 39.7215C24.0646 39.021 23.9983 38.0385 23.8731 36.774L23.8677 36.7188C23.5715 33.6304 21.9117 28.6115 14.9735 28.6115C13.7889 26.0731 13.2812 23.6519 13.2812 21.325C13.2812 15.5291 18.0195 10.1562 25 10.1562Z' fill='%230073FA'/%3E%3C/g%3E%3C/svg%3E%0A");
			background-position: 50% 50%;
			background-repeat: no-repeat;
			border-radius: to-rem(20);
		}
	}

	&[data-type="vk-icon"] {
		.review-source-card__logo {
			background-color: $vk-bg;
			color: $secondary-color;
			background-image: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.36153 9.93714H8.27098C8.27098 9.93714 8.54382 9.88428 8.68023 9.72571C8.81665 9.56713 8.81665 9.24999 8.81665 9.24999C8.81665 9.24999 8.81665 7.87571 9.36232 7.66428C9.908 7.45285 10.6356 9.03856 11.3631 9.61999C11.9088 10.0957 12.318 9.98999 12.318 9.98999L14.3188 9.93714C14.3188 9.93714 15.3647 9.88428 14.8645 8.87999C14.819 8.82714 14.5917 8.19285 13.3639 6.87142C12.0907 5.49714 12.2726 5.76142 13.7732 3.38285C14.6826 1.95571 15.0464 1.11 14.9555 0.687142C14.8645 0.317142 14.1824 0.422856 14.1824 0.422856H11.9088C11.9088 0.422856 11.7269 0.369999 11.636 0.475714C11.4995 0.581428 11.4541 0.739999 11.4541 0.739999C11.4541 0.739999 11.0903 1.85 10.6356 2.80143C9.63516 4.75714 9.22591 4.86285 9.08949 4.75714C8.72571 4.49285 8.81665 3.59428 8.81665 3.01285C8.81665 1.11 9.08949 0.317142 8.31645 0.105714C8.08909 0.0528565 7.9072 0 7.27058 0C6.45207 0 5.76998 -2.04784e-07 5.4062 0.211428C5.13336 0.369999 4.95147 0.687142 5.08789 0.687142C5.22431 0.687142 5.58809 0.792857 5.76998 1.05714C5.95187 1.53286 5.95187 2.32571 5.95187 2.32571C5.95187 2.32571 6.08829 4.59857 5.63356 4.86285C5.31525 5.07428 4.906 4.65142 3.99655 2.85428C3.54182 1.95571 3.17804 0.89857 3.17804 0.89857C3.17804 0.89857 3.13256 0.687142 2.99615 0.581428C2.85973 0.475714 2.63236 0.422856 2.63236 0.422856H0.495147C0.495147 0.422856 0.176838 0.422857 0.0404202 0.581428C-0.0505252 0.74 0.0404202 1.00428 0.0404202 1.00428C0.0404202 1.00428 1.72291 5.55 3.63276 7.87571C5.4062 10.0957 7.36153 9.93714 7.36153 9.93714Z' fill='white'/%3E%3C/svg%3E%0A");
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: to-rem(28) to-rem(18);
		}
	}
}