// Colors:
$primary-color: #050042;
$secondary-color: #ffffff;
$purple-color: #4D1EE0;
$border-light-color: #82819F;
$btn-light-color: #9696B1;
$accent-color: #B5B3DE;
$tab-hover-color: #ffffff;
$tab-active-color: #4D1EE0;
$tab-light-hover-color: #4D1EE0;
$tab-light-active-color: #050042;
$tab-text-color: #CDC0F9;
$menu-link-hover: rgba(184, 165, 243, 0.1);
$dropdown-bg-color: #16154E;
$menu-link-border: #A2A0CB;
$menu-link-bg: #37366B;
$card-bg-light: #f7f8fc;
$pagination-color: #9478EC;
$error-color: #FF4949;
$tag-blue-color: #5887FF;
// Fonts
$font-family-primary: "TT Norms Pro Expanded", sans-serif;
$font-family-secondary: "TT Norms Pro", sans-serif;
// Vendor colors
$ya-bg: #FC3F1D;
$vk-bg: #167CFB;

// Location color tags
:root {
	--loc-green-tag: #76C662;
	--loc-red-tag: #D84646;
	--loc-blue-tag: #5897F5;
	--loc-orange-tag: #F1AF51;
}