@use '@/assets/styles/abstracts'as *;

.review-card {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: to-rem(60) to-rem(30) to-rem(42) to-rem(30);
	background-color: $card-bg-light;
	border-radius: to-rem(23);

	@media screen and (min-width: 1440px) {
		padding: to-rem(70) to-rem(40) to-rem(62) to-rem(40);
	}

	&__head {
		display: grid;
		grid-template-columns: to-rem(50) 1fr;
		align-items: center;
		column-gap: to-rem(17);
		row-gap: to-rem(2);
		margin-bottom: to-rem(26);

		@media screen and (min-width: 1440px) {
			margin-bottom: to-rem(30);
		}
	}

	&__avatar {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
		width: to-rem(50);
		height: to-rem(50);
		border-radius: to-rem(20);
	}

	&__name {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}

	&__rating {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		align-self: start;
	}

	&__body {
		display: grid;
		row-gap: to-rem(10);
		margin-bottom: to-rem(15);

		@media screen and (min-width: 1440px) {
			margin-bottom: to-rem(20);
		}
	}

	&__text {
		letter-spacing: 0;
	}

	&__link {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: to-rem(10);
		text-decoration: none;
		color: $btn-light-color;

		&-text {
			color: $btn-light-color;
			transition: 0.2s ease-in;
		}

		&-icon {
			width: to-rem(12);
			height: to-rem(12);
			transform: rotate(-45deg);
			transform-origin: center;
			transition: 0.2s ease-in;
		}

		@media screen and (min-width: 1440px) {
			&:hover {
				color: $primary-color;
				
				.review-card__link-text {
					color: $primary-color;
				}

				.review-card__link-icon path{
					stroke: $primary-color;
				}
			}
		}
	}
}