@use '@/assets/styles/abstracts'as *;

.services {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: to-rem(117) to-rem(10) to-rem(90) to-rem(10);

	@media only screen and (min-width: 1440px) {
		padding: to-rem(270) to-rem(25) to-rem(120) to-rem(25);
	}

	&__title {
		margin-bottom: to-rem(60);

		@media only screen and (min-width: 1440px) {
			margin-bottom: to-rem(120);
		}
	}

	&__list {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: to-rem(15);
		margin-bottom: to-rem(15);

		@media only screen and (min-width: 1440px) {
			display: grid;
			grid-template-columns: to-rem(446) repeat(2, to-rem(471));
			column-gap: 0;
			row-gap: to-rem(40);
			margin-bottom: to-rem(40);
		}
	}

	&__item {
		border: 1px solid $primary-color;
		border-radius: to-rem(28);

		@media only screen and (min-width: 1440px) {
			min-height: to-rem(360);

			&:nth-of-type(4),
			&:nth-of-type(7) {
				border-radius: 0;
			}

			&:nth-of-type(3n + 3) {
				border-right: 0;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			&:nth-of-type(5),
			&:nth-of-type(8) {
				border-left: 0;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}

	&__item--featured {
		@media only screen and (min-width: 1440px) {
			grid-column: 1 / 4;
		}
	}

	&__more {
		width: 100%;

		@media screen and (min-width: 1440px) {
			justify-content: center;
			gap: to-rem(44);

			&-icon {
				width: to-rem(34);
				height: to-rem(36)
			}
		}
	}
}