@use '@/assets/styles/abstracts' as *;

.ui-button {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: to-rem(28);
    text-decoration: none;
    cursor: pointer;

    transition:
        background-color 0.2s ease,
        color 0.2s ease,
        border-color 0.2s ease,
        opacity 0.2s ease;
    
    // dark bg + arrow
    &--primary {
        width: 100%;
        height: to-rem(63);
        background-color: $primary-color;
        color: $secondary-color;

        @media screen and (min-width: 1440px) {
            height: to-rem(65);

            &:hover {
                background-color: $purple-color;
            }
        }
    }

    // dark bg + arrow in shape
    &--primary-border {
        height: to-rem(63);
        background-color: $primary-color;
        border: none;
        color: $secondary-color;
        padding: to-rem(19) to-rem(18) to-rem(19) to-rem(26);

        --ui-button-shape-color: #{$secondary-color};
        --ui-button-arrow-color: #{$secondary-color};
        --ui-button-shape-bg: transparent;

        @media screen and (min-width: 1440px) {
            height: to-rem(65);
            padding: to-rem(20) to-rem(20) to-rem(20) to-rem(28);

            &:hover {
                background-color: $dark-color;
                --ui-button-arrow-color: #{$primary-color};
                --ui-button-shape-bg: #{$secondary-color};
            }
        }
    }

    // light bg + arrow
    &--neutral {

    }

    // light bg + arrow in shape
    &--neutral-border {
        height: to-rem(63);
        background-color: $secondary-color;
        border: none;
        color: $primary-color;
        padding-inline: to-rem(26) to-rem(18);

        --ui-button-shape-color: #{$primary-color};
        --ui-button-arrow-color: #{$primary-color};
        --ui-button-shape-bg: transparent;

        @media screen and (min-width: 1440px) {
            height: to-rem(65);
            padding-inline: to-rem(28) to-rem(20);

            &:hover {
                --ui-button-arrow-color: #{$secondary-color};
                --ui-button-shape-bg: #{$primary-color};
            }
        }
    }

    // simple transparent with border
    &--simple {
        background-color: transparent;
        border: 1px solid $menu-link-border;
        color: $secondary-color;
        padding: to-rem(25) to-rem(25);
        height: to-rem(63);

        @media screen and (min-width: 1440px) {
            height: to-rem(65);
            padding: to-rem(26) to-rem(27) to-rem(25) to-rem(27);

            &:hover {
                border-color: $secondary-color;
                color: $primary-color;
                background-color: $secondary-color;
            }
        }
    }

    // simple white-bg
    &--simple-light {
        background-color: $secondary-color;
        color: $primary-color;
        padding: to-rem(26) to-rem(26);
        height: to-rem(63);

        @media screen and (min-width: 1440px) {
            height: to-rem(65);
            padding: to-rem(27) to-rem(28) to-rem(26) to-rem(28);

            &:hover {
                color: $secondary-color;
                background-color: $dark-purple-color;
            }
        }
    }

    &--simple-purple {
        background-color: $purple-color;
        color: $secondary-color;
        border: 1px solid $purple-color;
        padding: to-rem(25) to-rem(25);
        height: to-rem(63);

        @media screen and (min-width: 1440px) {
            height: to-rem(65);
            padding: to-rem(26) to-rem(27) to-rem(25) to-rem(27);

            &:hover {
                color: $primary-color;
                border-color: $secondary-color;
                background-color: $secondary-color;
            }
        }
    }

    // large transparent with icon
    &--large {
        height: to-rem(97);
        padding: to-rem(35) to-rem(29);
        border: 1px solid $primary-color;
        justify-content: space-between;
        color: $primary-color;

        --ui-button-shape-color: #{$primary-color};
        --ui-button-arrow-color: #{$primary-color};
        --ui-button-shape-bg: transparent;

        @media screen and (min-width: 1440px) {
            height: to-rem(100);
            padding: to-rem(36) to-rem(21) to-rem(36) to-rem(39);

            &:hover {
                background-color: $primary-color;
                color: $secondary-color;

                --ui-button-shape-color: #{$secondary-color};
                --ui-button-arrow-color: #{$primary-color};
                --ui-button-shape-bg: #{$secondary-color};
            }
        }
    }

    &--large-dark {
        height: to-rem(97);
        padding: to-rem(35) to-rem(29);
        border: 1px solid $primary-color;
        justify-content: space-between;
        color: $secondary-color;
        background-color: $primary-color;

        --ui-button-shape-color: #{$dark-color};
        --ui-button-arrow-color: #{$secondary-color};
        --ui-button-shape-bg: #{$dark-color};

        @media screen and (min-width: 1440px) {
            height: to-rem(100);
            padding: to-rem(36) to-rem(21) to-rem(36) to-rem(39);

            &:hover {
                background-color: $dark-color;
                --ui-button-shape-color: #{$secondary-color};
                --ui-button-arrow-color: #{$primary-color};
                --ui-button-shape-bg: #{$secondary-color};
            }
        }
    }

    // large button with uiicon
    &--large-shape {
       height: to-rem(97);
        padding: to-rem(35) to-rem(29);
        border: 1px solid $primary-color;
        justify-content: space-between;
        color: $primary-color;

        --ui-icon-color: $primary-color;

        @media screen and (min-width: 1440px) {
            height: to-rem(100);
            padding: to-rem(36) to-rem(21) to-rem(36) to-rem(39);

            &:hover {
                background-color: $primary-color;
                color: $secondary-color;

                --ui-icon-color: $secondary-color;
            }
        } 
    }

    // btn for cards
    &--transparent {
        padding: to-rem(17) to-rem(23);
        background-color: transparent;
        border: 1px solid $primary-color;
        color: $primary-color;

        @media screen and (min-width: 1440px) {
            &:hover {
                background-color: $primary-color;
                color: $secondary-color;
            }
        }
    }

    &--ghost {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        border:none;
        background-color: transparent;
        color: $secondary-color;

        --ui-button-shape-color: #{$primary-color};
        --ui-button-arrow-color: #{$secondary-color};
        --ui-button-shape-bg: #{$primary-color};

        @media screen and (min-width: 1440px) {
            &:hover {
                --ui-button-shape-color: #{$secondary-color};
                --ui-button-arrow-color: #{$primary-color};
                --ui-button-shape-bg: #{$secondary-color};
            }
        }
    }

    &--icon-only {
        --ui-button-shape-color: #{$primary-color};
        --ui-button-arrow-color: #{$primary-color};
        --ui-button-shape-bg: transparent;

        @media screen and (min-width: 1440px) {
            &:hover {
                --ui-button-arrow-color: #ffffff;
                --ui-button-shape-bg: #050042;
            }  
        } 
    }

    &--tab {
        display: flex;
		justify-content: space-between;
		align-items: center;
		gap: to-rem(30);
		padding: to-rem(20) to-rem(14) to-rem(20) to-rem(18);
		border: 1px solid $primary-color;
        border-radius: to-rem(23);
		background-color: transparent;
		color: $primary-color;

        .ui-button__text {
			line-height: to-rem(12);
		}

		.ui-button__count {
			line-height: to-rem(12);
		}

        @media screen and (min-width: 1440px) {
            gap: to-rem(60);
            padding: to-rem(23) to-rem(19) to-rem(23) to-rem(23);

            &:hover {
                background-color: $purple-color;
                border-color: $purple-color;
                color: $secondary-color;
            }
        }
    }

    &--map {
        height: to-rem(63);
        background-color: $secondary-color;
        border: 1px solid $primary-color;
        color: $primary-color;
        padding: to-rem(18) to-rem(17) to-rem(18) to-rem(25);

        --ui-button-shape-color: #{$primary-color};
        --ui-button-arrow-color: #{$primary-color};
        --ui-button-shape-bg: transparent;

        @media screen and (min-width: 1440px) {
            height: to-rem(65);
            padding: to-rem(19) to-rem(19) to-rem(19) to-rem(27);

            &:hover {
                color: $secondary-color;
                background-color: $primary-color;
                --ui-button-shape-color: #{$secondary-color};
                --ui-button-arrow-color: #{$primary-color};
                --ui-button-shape-bg: #{$secondary-color};
            }
        }
    }

    &--menu {
        justify-content: center;
        column-gap: to-rem(7);
        align-items: center;
        padding: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
        font-size: 10px;

        .ui-button__addon {
            width: to-rem(25);
            height: to-rem(25);
            display: grid;
            justify-items: center;
            align-items: center;
            --ui-shape-width: to-rem(25);
            --ui-shape-height: to-rem(25);
        }
    }

    &__addon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}