@use '@/assets/styles/abstracts' as *;

.ui-button {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $secondary-color;
    padding: to-rem(27) to-rem(27);
    border-radius: to-rem(28);
    background-color: transparent;
    color: $secondary-color;
    @include font-setting($font-family-primary, to-rem(9), 1, 450, $secondary-color);
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    transition:
        background-color 0.2s ease,
        color 0.2s ease,
        border-color 0.2s ease,
        opacity 0.2s ease;
    
    &--primary {
        width: 100%;
        background-color: $purple-color;
        border-color: $purple-color;
        color: $secondary-color;
    }

    &--sm {
        padding: to-rem(19) to-rem(19) to-rem(19) to-rem(27);
        border-radius: to-rem(28);
    }

    &--lg {
        padding: to-rem(37) to-rem(21);
        border-radius: to-rem(28);
        border-color: $primary-color;
        color: $primary-color;
    }

    &--with-addon {
        --ui-button-shape-color: #050042;
        --ui-button-arrow-color: #050042;
        --ui-button-shape-bg: transparent;
    }

    &--large {
        border-color: $primary-color;
        color: $primary-color;
        justify-content: space-between;

        @media screen and (min-width: 1440px) {
            &:hover {
                --ui-button-arrow-color: $secondary-color;
                --ui-button-shape-color: $secondary-color;
                --ui-button-shape-bg: $primary-color;
            }
        }
    }

    &--transparent {
        background-color: transparent;
        border-color: $border-light-color;
        color: $secondary-color;

        @media screen and (min-width: 1440px) {
            &:hover {
                background-color: $secondary-color;
                border-color: $secondary-color;
                color: $primary-color;
            }
        }
    }

    &--light {
        background-color: #ffffff;
        color: $primary-color;
        border-color: $secondary-color;

        @media screen and (min-width: 1440px) {
            &:hover {
                background-color: transparent;
                color: $secondary-color;
            }
        }
    }

    &--dark {
        background-color: $primary-color;
        color: $secondary-color;
        border-color: $secondary-color;

        @media screen and (min-width: 1440px) {
            
        }
    }

    &--ghost {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        border:none;
        background-color: transparent;
        color: $secondary-color;

        --ui-button-shape-color: #050042;
        --ui-button-arrow-color: #ffffff;
        --ui-button-shape-bg: #050042;
    }

    &--icon-only {
        --ui-button-shape-color: #050042;
        --ui-button-arrow-color: #050042;
        --ui-button-shape-bg: transparent;

        @media screen and (min-width: 1440px) {
            &:hover {
                --ui-button-shape-color: #ffffff;
                --ui-button-arrow-color: #ffffff;
                --ui-button-shape-bg: #050042;
            }  
        } 
    }

    &--tab {
        display: flex;
		justify-content: space-between;
		align-items: center;
		gap: to-rem(30);
		padding: to-rem(21) to-rem(14) to-rem(21) to-rem(18);
		border: 1px solid $primary-color;
		background-color: transparent;
		color: $primary-color;

        @media screen and (min-width: 1440px) {
            gap: to-rem(60);
            padding: to-rem(23) to-rem(19) to-rem(23) to-rem(23);
        }
    }
}