@use '@/assets/styles/abstracts' as *;

.team {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: to-rem(140);
	padding-bottom: to-rem(70);
	background-color: $purple-color;

	@media screen and (min-width: 1440px) {
		position: relative;
		padding: to-rem(300) to-rem(25) to-rem(212) to-rem(25);
	}

	&__header {
		width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: to-rem(13);
		padding-inline: to-rem(10);
		margin-bottom: to-rem(50);

		@media screen and (min-width: 1440px) {
			row-gap: to-rem(24);
			padding-inline: 0;
			margin-bottom: to-rem(150);
			z-index: 2;
		}

		&-top {
			width: 100%;
			display: flex;
			flex-direction: column;
			row-gap: to-rem(18);
			padding-bottom: to-rem(50);
			border-bottom: 1px solid $secondary-color;

			@media screen and (min-width: 1440px) {
				row-gap: to-rem(20);
			}
		}
	}

	&__title {
		color: $secondary-color;

		@media screen and (min-width: 1440px) {
			max-width: to-rem(950);
		}
	}

	&__subtitle {
		color: $secondary-color;

		@media screen and (min-width: 1440px) {
			max-width: to-rem(950);
		}
	}

	&__description {
		color: $secondary-color;

		@media screen and (min-width: 1440px) {
			max-width: to-rem(446);
			text-align: left;
			align-self: flex-end;
		}
	}

	&__list {
		display: flex;
		align-items: stretch;
		column-gap: to-rem(5);
		overflow-x: auto;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
		padding-inline: to-rem(10);
		margin-bottom: to-rem(10);
		scroll-padding-inline: to-rem(10);
		scrollbar-width: none;

		@media screen and (min-width: 1440px) {
			display: grid;
			grid-template-columns: repeat(4, to-rem(332));
			column-gap: 0;
			justify-content: space-between;
			align-items: start;
			padding-inline: 0;
			scroll-padding-inline: 0;
			overflow: visible;
			z-index: 2;
		}

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__column {
		display: contents;

		@media screen and (min-width: 1440px) {
			display: flex;
			flex-direction: column;
			gap: to-rem(24);

			&:first-of-type,
			&:nth-of-type(2) {
				margin-top: to-rem(88);
			}
		}
	}

	&__item {
		flex: 0 0 auto;
		scroll-snap-align: start;

		display: flex;
		align-items: center;
		justify-content: center;

		min-width: to-rem(335);

		@media screen and (min-width: 1440px) {
			min-width: to-rem(332);
			flex-direction: column;
			justify-content: flex-start;
		}
	}

	&__bottom {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: to-rem(10);
		padding-inline: to-rem(10);

		@media screen and (min-width: 1440px) {
			display: grid;
			grid-template-columns: repeat(4, to-rem(332));
			column-gap: 0;
			padding-inline: 0;
			z-index: 2;
		}
	}

	&__info-item--desktop {
		@media screen and (min-width: 1440px) {
			grid-column: 1 / 2;
		}
	}

	&__shape {
		position: absolute;
		bottom: to-rem(154);
		left: calc((100% - to-rem(1800)) / 2);
		--ui-icon-color: $primary-color;
		--ui-icon-w: #{to-rem(1047)};
		--ui-icon-h: #{to-rem(1101)};
		transform: scaleX(-1);
	}
}