@font-face {
  font-family: "TT Norms Pro Expanded";
  src: url("~/assets/fonts/TTNormsProExp-DmBd.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("~/assets/fonts/TTNormsPro-Rg.woff2") format("woff2");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}