@use '@/assets/styles/abstracts'as *;

.ui-button-arrow {
  display: block;
  width: 100%;
  height: auto;
  flex-shrink: 0;

  &--small {
    width: to-rem(24);
    height: to-rem(25);
  }

  &--rotated {
    .ui-button-arrow__arrow {
      transform: rotate(-45deg);
      transform-origin: center;
    }
  }

  &--down {
    .ui-button-arrow__arrow {
      transform: rotate(90deg);
      transform-origin: center;
    }
  }

  &__shape {
    fill: var(--ui-button-shape-bg);
    stroke: var(--ui-button-shape-color);
    transition:
      fill 0.2s ease,
      stroke 0.2s ease;
  }

  &__arrow {
    fill: var(--ui-button-arrow-color);
    width: var(--ui-button-arrow-w);
    height: var(--ui-button-arrow-h);
    transition: fill 0.2s ease;
  }
}