.ui-icon {
	display: grid;
	place-items: center;
	width: var(--ui-icon-w);
	height: var(--ui-icon-h);
	flex-shrink: 0;
	color: var(--ui-icon-color);
	line-height: 0;

	:deep(svg) {
		display: block;
		width: 100%;
		height: 100%;
	}
}