@use '@/assets/styles/abstracts'as *;

.feedback {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: to-rem(48);
	padding: to-rem(106) 0 to-rem(70) 0;
	background-color: $primary-color;

	@media screen and (min-width: 1440px) {
		padding: to-rem(270) to-rem(25) to-rem(180) to-rem(25);
		row-gap: to-rem(60);
		overflow: hidden;
	}

	&__visual {
		position: absolute;
		width: to-rem(387);
		height: to-rem(316);
		top: to-rem(580);
		left: calc((100% - to-rem(240)) / 2);
		pointer-events: none;

		@media screen and (min-width: 1440px) {
			top: auto;
			bottom: to-rem(-108);
			left: calc((100% - to-rem(1508)) / 2);
			width: to-rem(727);
			height: to-rem(593);
		}

		&-shape {
			position: absolute;
			--ui-icon-color: #{transparentize($purple-color, 0.2)};

			&--first {
				--ui-icon-w: #{to-rem(236)};
				--ui-icon-h: #{to-rem(247)};
				top: 0;
				left: 0;

				@media screen and (min-width: 1440px) {
					--ui-icon-w: #{to-rem(442)};
					--ui-icon-h: #{to-rem(464)};
				}
			}

			&--second {
				--ui-icon-w: #{to-rem(152)};
				--ui-icon-h: #{to-rem(160)};
				bottom: 0;
				right: 0;
				transform: rotate(-180deg);
				transform-origin: center;

				@media screen and (min-width: 1440px) {
					--ui-icon-w: #{to-rem(286)};
					--ui-icon-h: #{to-rem(300)};
				}
			}
		}
	}

	&__head {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: to-rem(18);
		padding-inline: to-rem(10);

		@media screen and (min-width: 1440px) {
			width: auto;
			padding: 0;
			gap: to-rem(20);
		}
	}

	&__title {
		color: $secondary-color;
		max-width: 75%;
	}

	&__description {
		color: $secondary-color;
		white-space: pre-line;
		text-transform: lowercase;

		@media screen and (min-width: 1440px) {
			max-width: to-rem(472);
		}
	}

	&__form {
		width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: to-rem(50);
		padding-inline: to-rem(5);
		z-index: 2;

		@media screen and (min-width: 1440px) {
			display: grid;
			grid-template-columns: to-rem(668) 1fr;
			justify-content: space-between;
			align-items: stretch;
			column-gap: to-rem(27);
			padding: 0;
		}
	}

	&__card {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: to-rem(20) to-rem(5) to-rem(10) to-rem(5);
		border-radius: to-rem(23);

		@media screen and (min-width: 1440px) {
			padding: to-rem(40) to-rem(40) to-rem(48) to-rem(40);
		}

		&-top {
			display: flex;
			flex-direction: column;
			row-gap: to-rem(5);

			@media screen and (min-width: 1440px) {
				row-gap: to-rem(4);
				margin-bottom: 0;
				padding-inline: 0;
			}
		}

		&-step {
			color: $secondary-color;
		}

		&-title {
			color: $secondary-color;
		}

		&--topics {
			background-color: $purple-color;

			.feedback__card-top {
				margin-bottom: to-rem(68);
				padding-inline: to-rem(10);

				@media screen and (min-width: 1440px) {
					margin-bottom: to-rem(255);
					padding-inline: 0;
				}
			}
		}

		&--data {
			background-color: transparent;
			padding-inline: to-rem(15);

			.feedback__card-top {
				margin-bottom: to-rem(54);

				@media screen and (min-width: 1440px) {
					margin-bottom: 0;
				}
			}

			@media screen and (min-width: 1440px) {
				padding: 0;
				padding-top: to-rem(40);
			}
		}
	}

	&__topics {
		width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: to-rem(7);

		@media screen and (min-width: 1440px) {
			margin-top: auto;
			margin-bottom: 0;
			gap: to-rem(20);
		}

		&-item {
			width: auto;
			padding: to-rem(14) to-rem(12);
			border: 1px solid transparentize($secondary-color, 0.7);
			border-radius: to-rem(19);
			background-color: transparent;
			transition: 0.2s ease-in;

			@media screen and (min-width: 1440px) {
				padding: 0;
				border: none;
				border-radius: 0;
			}

			&.is-active {
				background-color: transparentize($primary-color, 0.8);
				border-color: transparentize($primary-color, 0.8);

				@media screen and (min-width: 1440px) {
					background-color: transparent;
					border-color: transparent;
				}
			}
		}
	}

	&__fields {
		width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: to-rem(30);
		margin-bottom: to-rem(10);

		@media screen and (min-width: 1440px) {
			margin-top: auto;
			margin-bottom: to-rem(24);
			row-gap: to-rem(41);
		}
	}

	&__date {
		width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: to-rem(10);
		padding-block: to-rem(15);
		margin-bottom: to-rem(20);

		@media screen and (min-width: 1440px) {
			flex-direction: row;
			align-items: center;
			column-gap: to-rem(24);
			margin-bottom: to-rem(24);
			padding-block: 0;
		}

		&-label {
			color: $secondary-color;
		}

		&-controls {
			display: flex;
			align-items: center;
			justify-content: space-between;

			@media screen and (min-width: 1440px) {
				column-gap: to-rem(24);
			}
		}

		&-select {
			margin-left: auto;
			margin-right: 0;

			@media screen and (min-width: 1440px) {
				margin-left: 0;
			}
		}
	}

	&__privacy {
		margin-bottom: to-rem(15);

		&-link {
			color: currentColor;
			text-decoration: none;
			transition: 0.2s ease-in;
			
			@media screen and (min-width: 1440px) {
				&:hover {
					color: currentColor;
				}
			}
		}

		.ui-caption--description {
			font-size: to-rem(13);
			line-height: 1.5;
		}

		@media screen and (min-width: 1440px) {
			margin-bottom: to-rem(22);
			max-width: to-rem(542);

			.ui-field-checkbox__label {
				font-size: to-rem(14);
			}
		}
	}

	&__submit {
		display: flex;
		flex-direction: column;
		row-gap: to-rem(10);

		@media screen and (min-width: 1440px) {
			flex-direction: row;
			align-items: flex-end;
			column-gap: to-rem(20);
			row-gap: 0;
		}

		&-btn {
			justify-content: space-between;
			width: 100%;

			@media screen and (min-width: 1440px) {
				width: fit-content;
				column-gap: to-rem(70);
			}
		}

		&-icon {
			width: to-rem(24);
			height: to-rem(25);
		}
	}

	&__visual {
		position: absolute;
	}
}