@use '@/assets/styles/abstracts'as *;

.faq-help {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: to-rem(34) to-rem(20) to-rem(23) to-rem(20);
	background-color: $primary-color;
	border-radius: to-rem(28);

	@media screen and (min-width: 1440px) {
		height: to-rem(667);
		justify-content: space-between;
		padding: to-rem(50) to-rem(40);
		margin-bottom: to-rem(-84);
	}

	&__visual {
		position: absolute;
		top: to-rem(16);
		left: calc((100% - to-rem(102)) / 2);
		width: to-rem(657);
		height: to-rem(393);
		z-index: 0;
		pointer-events: none;

		@media screen and (min-width: 1440px) {
			width: to-rem(833);
			height: to-rem(499);
			top: to-rem(-36);
			left: calc((100% - to-rem(12)) / 2);
		}

		&-shape {
			position: absolute;
			--ui-icon-color: #{$violet-color};

			&--first {
				--ui-icon-w: #{to-rem(175)};
				--ui-icon-h: #{to-rem(183)};
				top: to-rem(51);
				left: 0;

				@media screen and (min-width: 1440px) {
					--ui-icon-w: #{to-rem(222)};
					--ui-icon-h: #{to-rem(232)};
					top: auto;
					bottom: to-rem(65);
					transform: scaleY(-1);
				}
			}

			&--second {
				--ui-icon-w: #{to-rem(245)};
				--ui-icon-h: #{to-rem(258)};
				bottom: 0;
				left: to-rem(175);
				transform: scaleY(-1);

				@media screen and (min-width: 1440px) {
					--ui-icon-w: #{to-rem(312)};
					--ui-icon-h: #{to-rem(328)};
					top: 0;
					bottom: auto;
					left: to-rem(221);
					transform: scaleY(1);
				}
			}

			&--third {
				--ui-icon-w: #{to-rem(237)};
				--ui-icon-h: #{to-rem(249)};
				top: 0;
				right: 0;
				transform: scaleX(-1);

				@media screen and (min-width: 1440px) {
					--ui-icon-w: #{to-rem(301)};
					--ui-icon-h: #{to-rem(316)};
					top: auto;
					bottom: 0;
					transform: scaleX(-1) scaleY(-1);
				}
			}
		}
	}

	&__title {
		color: $secondary-color;
		margin-bottom: to-rem(250);
		white-space: pre-line;
		z-index: 1;

		@media screen and (min-width: 1440px) {
			margin-bottom: auto;
		}
	}

	&__contacts {
		width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: to-rem(40);

		@media screen and (min-width: 1440px) {
			flex-direction: row;
			column-gap: to-rem(160);
		}
	}

	&__phone {
		width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: to-rem(10);

		@media screen and (min-width: 1440px) {
			row-gap: to-rem(27);
		}

		&-label {
			color: $secondary-color;
		}

		&-link {
			display: flex;
			flex-direction: column;
			gap: to-rem(24);
			text-decoration: none;
			white-space: nowrap;
			@include font-setting($font-family-primary, to-rem(36), 1.1, 600, $secondary-color);

			@media screen and (min-width: 1440px) {
				flex-direction: row;
				font-size: to-rem(74);
				line-height: 1;
				transition: 0.2s ease-in;

				&:hover {
					opacity: 0.4;
				}
			}
		}

		&-prefix {
			opacity: 0.4;

			@media screen and (min-width: 1440px) {
				opacity: 1;
			}
		}
	}

	&__messengers {
		width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: to-rem(10);

		@media screen and (min-width: 1440px) {
			row-gap: to-rem(27);
		}

		&-label {
			color: $secondary-color;
		}

		&-list {
			width: auto;
			display: flex;
			align-items: center;
			column-gap: to-rem(10);
			
			@media screen and (min-width: 1440px) {
				column-gap: to-rem(13);
			}
		}

		&-item {
			width: to-rem(66);
			height: to-rem(66);
		}

		&-link {
			display: grid;
			place-items: center;
			width: inherit;
			height: inherit;
			color: $secondary-color;
			border: 1px solid transparentize($secondary-color, 0.4);
			border-radius: to-rem(27);
			transition: 0.2s ease-in;

			@media screen and (min-width: 1440px) {
				&:hover {
					background-color: $secondary-color;
					border-color: $secondary-color;
					color: $primary-color;
				}
			}
		}

		&-icon {
			&[data-type="telegram"] {
				--ui-icon-w: #{to-rem(17)};
				--ui-icon-h: #{to-rem(14)};
			}

			&[data-type="vk"] {
				--ui-icon-w: #{to-rem(17)};
				--ui-icon-h: #{to-rem(10)};
			}

			&[data-type="instagram"] {
				--ui-icon-w: #{to-rem(16)};
				--ui-icon-h: #{to-rem(16)};
			}
		}
	}
}